<div class="slide">
</div>

<h2>ストーリー</h2>
<p>
大学生の土岐野蒼一（ときのそういち）は、後輩のツンデレ女子高生、洲原奈美（すはらなみ）と一緒に勉強したりするなど平和な日々を送っていた。
</p>

<div class="slide">
<div class="animate-in" data-animation="fade-in">
<%= image_tag("epiloguenami.jpg", :width => "660")%>
</div>
</div>

<p class="storytext">
しかし、ボクシング部の練習でスパーリングの対戦相手を網膜剥離にさせてしまい、蒼一は心に傷を負う。その後、ボクシング部に顔をだすこともなくなり、心配して家に来た奈美とケンカしてしまう。

<br>
<br>
<br>

ある夏の夜、蒼一はすさまじい規模の火球を目撃し、気を失いかける。
気づいたときには、蒼一は“非ミンコフスキー時空”へと漂着していた。
</p>


<div class="slide">
<div class="animate-in" data-animation="fade-in">
<%= image_tag("ev31.jpg", :width => "660")%>
</div>
</div>

<p class="storytext">
無人の街で展開される怪物と自衛隊の戦闘に遭遇し、蒼一は圧倒される。
混乱した頭でカーブミラーを見上げると、そこには自衛隊が戦っているのと同じ怪物の姿があった。
</p>


<div class="slide">
<div class="animate-in" data-animation="fade-in">
<%= image_tag("Souichim.png", :width => "660")%>
</div>
</div>

<p class="storytext">
自分が“アナテマ”という怪物に変身していたことに驚愕し、途方に暮れる蒼一。
続く戦闘を見つめていた彼は、自衛隊に発見され、敵だと誤解されてしまう。
<br>
<br>
<br>
追い詰められた蒼一を助けたのは、彼同様に非ミンコフスキー時空に漂着していた奈美だった。
</p>

<div class="slide">
<div class="animate-in" data-animation="fade-in">
<%= image_tag("namishot.png", :width => "660")%>

</div>
</div>


<p class="storytext">
なぜ彼女がここに！？
<br>

もとの世界に帰るため、蒼一は奈美とともに生き残りをかけた戦いに身を投じてゆく。
</p>


<div class="slide">
<div class="animate-in" data-animation="fade-in">
<%= image_tag("tachibanaandyaezaki.png", :width => "660")%>

</div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script>
$(document).ready(function() {
  var deck = new $.scrolldeck(
  enablePin:false
  );
});
</script>
