
<h2>ギャラリー</h2>
<p>
<%= link_to image_tag("bindnami.jpg", :class => "gallery", :width => 200 ), image_path("bindnami.jpg"), :class => "gallery" %>
<%= link_to image_tag("Souichim.png", :class => "gallery", :width => 200 ), image_path("Souichim.png"), :class => "gallery" %>
<%= link_to image_tag("ev26.png", :class => "gallery", :width => 200 ), image_path("ev26.png"), :class => "gallery" %>
<%= link_to image_tag("tachibanaandyaezaki.png", :class => "gallery", :width => 200 ), image_path("tachibanaandyaezaki.png"), :class => "gallery" %>
<%= link_to image_tag("epiloguenami.jpg", :class => "gallery", :width => 200 ), image_path("epiloguenami.jpg"), :class => "gallery" %>
<%= link_to image_tag("woundednami.jpg", :class => "gallery", :width => 200 ), image_path("woundednami.jpg"), :class => "gallery" %>
<%= link_to image_tag("hand4.jpeg", :class => "gallery", :width => 200 ), image_path("hand4.jpeg"), :class => "gallery" %>
<%= link_to image_tag("heli.png", :class => "gallery", :width => 200 ), image_path("heli.png"), :class => "gallery" %>
<%= link_to image_tag("namifire.jpg", :class => "gallery", :width => 200 ), image_path("namifire.jpg"), :class => "gallery" %>
<%= link_to image_tag("runsoichi.jpg", :class => "gallery", :width => 200 ), image_path("runsoichi.jpg"), :class => "gallery" %>
<%= link_to image_tag("4trimed.jpg", :class => "gallery", :width => 200 ), image_path("4trimed.jpg"), :class => "gallery" %>
</p>

