
<h2>ギャラリー</h2>
<p>
<a href="https://dl.dropbox.com/u/17538030/bindnami.jpg"><img src="https://dl.dropbox.com/u/17538030/bindnami.jpg", class="gallery", width="200">
</a>
<%= link_to image_tag("https://dl.dropbox.com/u/17538030/Souichim.png", :class => "gallery", :width => "200"), 'https://dl.dropbox.com/u/17538030/Souichim.png'), :class => "gallery" %>
<%= link_to image_tag("https://dl.dropbox.com/u/17538030/ev26.png", :class => "gallery", :width => 200 ), "https://dl.dropbox.com/u/17538030/ev26.png"), :class => "gallery" %>
<%= link_to image_tag("https://dl.dropbox.com/u/17538030/tachibanaandyaezaki.png", :class => "gallery", :width => 200 ), "https://dl.dropbox.com/u/17538030/tachibanaandyaezaki.png"), :class => "gallery" %>
<%= link_to image_tag("https://dl.dropbox.com/u/17538030/epiloguenami.jpg", :class => "gallery", :width => 200 ), "https://dl.dropbox.com/u/17538030/epiloguenami.jpg"), :class => "gallery" %>
<%= link_to image_tag("https://dl.dropbox.com/u/17538030/woundednami.jpg", :class => "gallery", :width => 200 ), "https://dl.dropbox.com/u/17538030/woundednami.jpg"), :class => "gallery" %>
<%= link_to image_tag("https://dl.dropbox.com/u/17538030/hand4.jpeg", :class => "gallery", :width => 200 ), "https://dl.dropbox.com/u/17538030/hand4.jpeg"), :class => "gallery" %>
<%= link_to image_tag("https://dl.dropbox.com/u/17538030/heli.png", :class => "gallery", :width => 200 ), "https://dl.dropbox.com/u/17538030/heli.png" :class => "gallery" %>
<%= link_to image_tag("https://dl.dropbox.com/u/17538030/namifire.jpg", :class => "gallery", :width => 200 ), "https://dl.dropbox.com/u/17538030/namifire.jpg" :class => "gallery" %>
<%= link_to image_tag("https://dl.dropbox.com/u/17538030/runsoichi.jpg", :class => "gallery", :width => 200 ), "https://dl.dropbox.com/u/17538030/runsoichi.jpg" :class => "gallery" %>
<%= link_to image_tag("https://dl.dropbox.com/u/17538030/4trimed.jpgg", :class => "gallery", :width => 200 ), "https://dl.dropbox.com/u/17538030/4trimed.jpg" :class => "gallery" %>
</p>

