<h2>ギャラリー</h2>
<<<<<<< HEAD
<div class="gallery">
    <p>
<%= link_to image_tag("th_bindnami.jpg", :class => "gallery" ), image_path("bindnami.jpg"), :class => "gallery" %>
<%= link_to image_tag("th_Souichim.jpg", :class => "gallery" ), image_path("Souichim.png"), :class => "gallery" %>
<%= link_to image_tag("th_ev26.jpg", :class => "gallery" ), image_path("ev26.png"), :class => "gallery" %>
<%= link_to image_tag("th_tachibanaandyaezaki.jpg", :class => "gallery" ), image_path("tachibanaandyaezaki.png"), :class => "gallery" %>
<%= link_to image_tag("th_epiloguenami.jpg", :class => "gallery" ), image_path("epiloguenami.jpg"), :class => "gallery" %>
<%= link_to image_tag("th_woundednami.jpg", :class => "gallery" ), image_path("woundednami.jpg"), :class => "gallery" %>
<%= link_to image_tag("th_hand4.jpg", :class => "gallery" ), image_path("hand4.jpeg"), :class => "gallery" %>
<%= link_to image_tag("th_heli.jpg", :class => "gallery" ), image_path("heli.png"), :class => "gallery" %>
<%= link_to image_tag("th_namifire.jpg", :class => "gallery" ), image_path("namifire.jpg"), :class => "gallery" %>
<%= link_to image_tag("th_runsoichi.jpg", :class => "gallery" ), image_path("runsoichi.jpg"), :class => "gallery" %>
<%= link_to image_tag("th_4trimed.jpg", :class => "gallery" ), image_path("4trimed.jpg"), :class => "gallery" %>
=======
<p>
<a href="https://dl.dropbox.com/u/17538030/runsoichi.jpg" class="gallery"><img src="https://dl.dropbox.com/u/17538030/runsoichi.jpg" width="200">
</a>
<a href="https://dl.dropbox.com/u/17538030/woundednami.jpg" class="gallery"><img src="https://dl.dropbox.com/u/17538030/woundednami.jpg" width="200">
</a>
<a href="https://dl.dropbox.com/u/17538030/tachibanaandyaezaki.png" class="gallery"><img src="https://dl.dropbox.com/u/17538030/tachibanaandyaezaki.png" width="200">
</a>
<a href="https://dl.dropbox.com/u/17538030/epiloguenami.jpg" class="gallery"><img src="https://dl.dropbox.com/u/17538030/epiloguenami.jpg" width="200">
</a>
<a href="https://dl.dropbox.com/u/17538030/ev26.png" class="gallery"><img src="https://dl.dropbox.com/u/17538030/ev26.png" width="200">
</a>
<a href="https://dl.dropbox.com/u/17538030/souichim.png" class="gallery"><img src="https://dl.dropbox.com/u/17538030/souichim.png" width="200">
</a>
<a href="https://dl.dropbox.com/u/17538030/heli.png" class="gallery"><img src="https://dl.dropbox.com/u/17538030/heli.png" width="200">
</a>
<a href="https://dl.dropbox.com/u/17538030/namifire.jpg" class="gallery"><img src="https://dl.dropbox.com/u/17538030/namifire.jpg" width="200">
</a>
<a href="https://dl.dropbox.com/u/17538030/hand4.jpeg" class="gallery"><img src="https://dl.dropbox.com/u/17538030/hand4.jpeg" width="200">
</a>
<a href="https://dl.dropbox.com/u/17538030/bindnami.jpg" class="gallery"><img src="https://dl.dropbox.com/u/17538030/bindnami.jpg" width="200">
</a>
<a href="https://dl.dropbox.com/u/17538030/dyingsoichi.jpg" class="gallery"><img src="https://dl.dropbox.com/u/17538030/dyingsoichi.jpg" width="200">
</a>
<a href="https://dl.dropbox.com/u/17538030/4trimed.jpg" class="gallery"><img src="https://dl.dropbox.com/u/17538030/4trimed.jpg" width="200">
</a>
>>>>>>> asylum
</p>
</div>
<script>
$(function(){
$('.gallery').adipoli({
'startEffect':'grayscale',
'hoverEffect':'popout'
});
});
</script>
